@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .page-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .list-items .swiper-slide {
    width: 200px;
    height: auto;
  }
  .main {
    margin: 0 150px;
  }
  table td {
    width: 150px;
  }
}
